$redColor: #ED1C24;

.blur{
  text-align: right;
  padding: 0 20px 11px;
  font-size: 23px;
  max-width: 100%;
  background: rgba(0, 0, 0, 0.65);
  float: right;
  margin-bottom: -30px;
  margin-right: -50px;

  strong{
    text-transform: uppercase;
  }
}

.b-content {
  background-color: #f6f6f6;
  border-bottom: 12px solid #d9d9d9;
  padding-bottom: 15px;
  @media screen and (min-width: $small) {
    padding: 30px 0 30px 0;
  }
}

.b-content--callback {
  border-bottom: none;
  padding-bottom: 25px;
}

.b-content__title {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 5px;
  @media screen and (min-width: $small) {
    padding-left: 0;
  }
}

.b-content__desription {
  color: $redColor;
  font-size: 24px;
  text-align: center;
  padding-left: 5px;
  @media screen and (min-width: $small) {
    padding-left: 0;
    padding-bottom: 45px;
  }
  margin-top: 35px;
}

.b-content__main {
  text-transform: uppercase;
  text-align: center;
  font-size: 27px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.b-callback-form {
  width: 45%;
  padding: 35px 0 25px 0;
  margin: 0 auto;
  @media screen and (max-width: $medium) {
    width: 65%;
    padding-left: 5px;
    padding-right: 5px;
  }
  @media screen and (max-width: $small) {
    width: 75%;
  }
}

.b-callback-form__textfield {
  border: none;
  outline-color: #ea6060;
  background-color: #f6f6f6;
  font-size: 20px;
  padding: 5px 15px;
  border: 2px solid #aaaaaa;
}

.b-callback-form__text {
  width: 47%;
}

.b-callback-form__textfield--name {
  float: left;
}

.b-callback-form__textfield--company {
  float: right;
}

.b-callback-form__textfield--phone {
  width: 100%;
  margin-top: 25px;
}

.b-callback-form__textarea {
  width: 100%;
  height: 90px;
  margin: 25px 0;
}

.b-callback-form__submit {
  width: 160px;
  height: 55px;
}

.b-colored-back {
  background-color: #d9d9d9;
}

.b-button {
  outline: none;
  display: block;
  margin: 0 auto;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  background-color: #ea6060;
  border: 1px solid transparent;
  border-radius: 2px;

  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
  &:hover {
    text-decoration: none;
    color: #ea6060;
    background-color: #f6f6f6;
    border: 1px solid #ea6060;
  }
}

.b-button--more {
  padding: 1px 13px;
  display: inline;
  position: relative;
  top: 6px;
}

.b-content__header {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
  font-size: 25px;
}

.b-content--marketing {
  .icon {
    text-align: center;
    margin-bottom: 20px;
    img {
      height: 100px;
    }
  }
  .description {
    text-align: center;
    font-size: 14px;
  }
  .element {
    height: 190px;
    @media screen and (max-width: $small) {
      height: 220px;
    }
  }
}

.b-content--team {
  padding-bottom: 0px;
  padding-top: 15px;
  .row {
    padding-bottom: 30px;
  }
  .photo {
    text-align: center;
  }
  .description {
    margin-top: 45px;

    p {
      @media screen and (min-width: $small) and (max-width: $medium) {
        margin-left: 30px;
      }
    }
  }
}

.b-content--about_us {
  .title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 20px;
  }
  .description {
    font-size: 16px;
  }

  .logo_o {
    height: 35px;
    margin-bottom: 18px;
  }

  .element {
    text-align: center;
    height: 220px;
    @media screen and (min-width: $small) {
      height: 230px;
    }
    @media screen and (max-width: $small) {
      height: 240px;
    }
  }
}

.b-content--callback {
  .b-content__title {
    text-align: center;
  }
}

.b-content--omni {
  .contacts {
    display: block;
    width: 335px;
    font-size: 21px;
    margin: 15px auto 25px;
    text-align: center;
    @media screen and (min-width: $small) {
      margin-top: -30px;
    }
  }
  .logo {
    display: inline;
    height: 29px;
    margin-top: -5px;
  }
  .description {
    display: inline;
  }
  .mail {
    margin-bottom: 15px;
  }
}

blockquote {
  font-style: italic;
  width: 265px;
  font-size: 13px;
  display: block;
  margin: 0 auto;
  padding: 14px 0 0 30px;
  border: none;
}

blockquote:before {
  color: $redColor;
  content: "\201C"; /* Непечатаемый символ слева */
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.2em;
  vertical-align: -.4em;
}

blockquote:after {
  color: $redColor;
  content: "\201D"; /* Непечатаемый символ справа */
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -.45em;
}

blockquote > p:first-child {
  display: inline;
}

.b-content--how {

  &.top_border {
    border-top: 12px solid #d9d9d9;
  }

  .element {

    &:nth-child(2), &:nth-child(3){
      margin-bottom: 20px;
    }
    @media screen and (max-width: $medium) {
      &:nth-child(4){
        clear: both;
      }
    }
  }

  .title {
    text-align: center;
    color: $redColor;
    width: 40px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-weight: bolder;
  }

  .description {
    text-align: center;
    font-size: 16px;
  }

  .logo_o_empty {
    position: absolute;
    height: 35px;
    top: -6px;


    @media screen and (max-width: $small) {
      left: 45%;
    }
    @media screen and (max-width: 650px) {
      left: 44%;
    }
    @media screen and (max-width: 520px) {
      left: 43%;
    }
    @media screen and (min-width: $small) {
      left: 169px;
    }
    @media screen and (min-width: $medium) {
      left: 103px;
    }
    @media screen and (min-width: $large) {
      left: 128px;
    }

  }

}